[user]
	# 環境変数で定義
	name = $GIT_AUTHOR_NAME
	email = $GIT_AUTHOR_EMAIL

[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input

[init]
    defaultBranch = main

[merge]
  	ff = false

[pull]
  	rebase = true

[alias]
	st = status
	sh = stash
	ck = checkout
	com = commit -m
	stash = stash -m
	undo = reset --soft HEAD^
	sync = !git fetch -p && git checkout $(git symbolic-ref --short HEAD) && git rebase origin/$(git symbolic-ref --short HEAD)
    	origin = !git show-branch | grep '*' | grep -v "$(git rev-parse --abbrev-ref HEAD)" | head -1 | awk -F'[]~^[]' '{print $2}'
